# Question 1: Use yfinance to Extract Stock Data

# Install Necessary Libraries

In [ ]:
!pip install yfinance
!pip install pandas

# Import necessary libraries

In [3]:
import yfinance as yf
import pandas as pd

# Create a ticker object for Tesla

In [4]:
tesla = yf.Ticker("TSLA")

# Extract historical stock data with maximum available period

In [5]:
tesla_data = tesla.history(period="max")

# Reset the index to make 'Date' a column instead of the index

In [6]:
tesla_data.reset_index(inplace=True)

# Display the first five rows of the dataframe

In [7]:
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0